<mat-card>
  <mat-card-header>
    <mat-card-title>{{ this.movie.Title }}</mat-card-title>
    <mat-card-subtitle>Directed by {{ this.movie.Director.Name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ this.movie.Director.Bio }}</p>
    <span>Born in {{ this.movie.Director.Birthyear | date:'mediumDate'}}</span>
  </mat-card-content>
  <mat-card-actions fxFlexAlign="end">
    <button
      mat-raised-button
      (click)="closeDialog()"
      color="warn"
    >
      Close
    </button>
</mat-card-actions>
</mat-card>